.colored-green{
    background-color: blanchedalmond;
    color: green;
}

.colored-red{
    background-color: blanchedalmond;
    color: red;
}

.colored-yellow{
    background-color: blanchedalmond;
    color: yellow;
}